.skills__container {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
}

.skills__desc,
.skills__titles {
  padding-inline: 30px;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.skills__name {
  font-size: var(--normal-font-size);
}

.skills__number {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.skills__number span {
  color: black;
}

.skills__desc {
  margin-bottom: 30px;
}

.skills__bar,
.skills__perc {
  height: 2px;
}

.skills__bar {
  background: var(--title-color);
}

.skills__perc {
  display: block;
  background-color: rgb(75, 75, 161);
  position: relative;
}

.skills__perc span {
  background-color: var(--container-color);
  border: 2px solid var(--title-color);
  box-shadow: 1px 1px 4px gray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -12px;
}

/* =======================BREAKPOINTS============================ */
/* FOR LARGE DEVICES */
@media screen and (max-width: 992px) {
}
/* FOR MEDIUM DEVICES */
@media screen and (max-width: 768px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    grid-template-columns: 1fr;
    row-gap: 60px;
    padding: 0 2rem 0;
  }
  .skills__item {
    justify-self: center;
  }
}
/* FOR SMALL DEVICES */
@media screen and (max-width: 350px) {
}
